nav, .nav-links {
  @include flex-center(row, space-around, center);
}

.nav-links {
  gap: $gap-default;
  list-style: none;
  font-size: 1.5rem;
}

section {
  padding-top: 5rem;
  height: 100vh;
  margin: 0 10rem;
  min-height: fit-content;
}

.section-container {
  @include flex-center;
  gap: 4rem;
  height: 80%;
}

