#profile, #about, #experience, #projects, #contact {
  display: flex;
  flex-direction: column;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: center;

  p {
    font-weight: 600;
  }
}

.newsletter-signup, .newsletter-container {
  background-color: $primary-color;
  padding: 20px;
  border-radius: $border-radius;
}

.project-img {
  border-radius: $border-radius;
  width: 90%;
  height: 90%;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: $border-radius;
  border: 0.1rem solid $border-color;
  text-align: center;
}

