// Colors
$color-primary: darkseagreen;
$color-dark: #000000;
$color-light: #ffffff;
$color-gray: #a3a3a3;
$color-muted: #333333;

// Fonts
$font-main: "EB Garamond", serif;

// Sizes
$radius-sm: 0.5rem;
$radius-md: 1rem;
$radius-lg: 2rem;

$transition-speed: 300ms;

